<%- include('navbar'); -%>
<h1>Welcome to turf booking</h1>
<p>you can add your own turf</p>
<p>People will play there and pay you for it</p>
<p>You have to arrange sports equipment for them</p>
<h2>Yo players yes i am talking to you</h2>
<p>Book the turf</p>
<p>Play with your friend</p>
<p>We will provide for sports item</p>
<p>Make memories</p>
<%- include('footer'); -%>
