
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Chilanka', cursive;
}
body{
    background-color: cadetblue;
}
.nav{
    background-color: green;
    position: sticky;
    top: 0;
}
.ul{
    display: flex;
    justify-content: center;
}
.li{
    list-style: none;
    padding: 15px;
}
.a{
    text-decoration: none;
    color: cornsilk;
    list-style: none;
    font-size: 150%;
    cursor: pointer;
    font-weight: 600;
}
.li:hover{
    color: blue;
}
.foot{
    display: flex;
    background-color: black;
    color : white;
    height: 50px;
    justify-content: center;
    align-items: center;
}   